<div *ngIf="isVisible$ | async" (click)="hide()" class="info-panel">
  <div class="info-container">
    <p class="info-header">Information</p>
    <p class="info-text">
      <span class="prompt">Grabstelle:</span> {{(info$ | async)?.grabStelle}}<br>
      <span class="prompt">PowerOrdo:</span> {{(info$ | async)?.poAuftrag}}<br>
      <span class="prompt">Mieter:</span> {{(info$ | async)?.mieter}}<br>
      <span class="prompt">Straße:</span> {{(info$ | async)?.strasse}}<br>
      <span class="prompt">Ort:</span> {{(info$ | async)?.plz}} {{(info$ | async)?.ort}}
    </p>
  </div>
</div>
