.info-panel {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 430px;
  max-width: 600px;
  font-family: "Trade Gothic Next Cond", Calibri, sans-serif;
}

.info-container {
  margin: 2px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
  border: 1px solid aliceblue;
  padding: 0.5rem;
}

.row {
  display: grid;
  grid-template-columns: 150px auto;
}

.info-header {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.1rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid aliceblue;
}

.info-text {
  font-size: 1rem;
}

.burial-plot-info {
  margin-top: 12px;
  padding-left: 1rem;
  border-left: solid white 3px;
}

.prompt {
  display: inline-block;
  color: #e7e7e7;
}

.error-container {
  margin: 2px;
  background-color: red;
  color: white;
  cursor: pointer;
  border: 1px solid darkred;
  padding: 0.5rem;
}
