.info-panel {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2px;
  background-color: cornflowerblue;
  min-width: 200px;
  cursor: pointer;
}

.info-container {
  border: 1px solid aliceblue;
  padding: 0.5rem;
  color: aliceblue;
}

.info-header {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.1rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid aliceblue;
}

.info-text {
  font-size: 1rem;
}

.burial-plot-info {
  margin-top: 12px;
  padding-left: 1rem;
  border-left: solid white 3px;
}

.prompt {
  display: inline-block;
  min-width: 150px;
}
