<div *ngIf="info$ | async as info"  (click)="hide()" class="info-panel">
  <div *ngIf="info.errorMessage" class="error-container">
    {{info.errorMessage}}
  </div>
  <div *ngIf="!info.errorMessage" class="info-container">
    <p class="info-header">Grab {{info.grave}}</p>
    <div class="info-text">
      <div class="row">
        <p class="prompt">Artikelnummer:</p>
        <p>{{info.itemNo}}</p>
      </div>
      <div *ngIf="!info.specialPrice" class="row">
        <p class="prompt">Preise:</p>
        <p>{{info.pricePerYear | currency}} / {{info.pricePerYear * 5 | currency}}
          / {{info.pricePerYear * 15 | currency}}</p>
      </div>
      <div *ngIf="info.specialPrice" class="row">
        <p class="prompt">Sonderpreis</p>
        <p>Ja</p>
      </div>
      <div class="row">
        <p class="prompt">Bemerkung:</p>
        <p>{{info.remark}}</p>
      </div>
      <div class="row">
        <p class="prompt">Auftrag:</p>
        <p>{{info.orderNo}}</p>
      </div>
      <div class="row">
        <p class="prompt">Kreditor:</p>
        <p>{{info.creditorNo}}</p>
      </div>
      <div class="row">
        <p class="prompt">Gemietet von / bis:</p>
        <p>{{info.rentalFrom}} / {{info.rentalUntil}}</p>
      </div>
      <div class="row">
        <p class="prompt">Grabstellen:</p>
        <p>{{info.burialPlotCount}} ({{info.availableBurialPlotCount}} davon frei)</p>
      </div>
    </div>
    <div *ngFor="let burialPlot of info.burialPlots" class="burial-plot-info">
      <div *ngIf="burialPlot.deceasedName">
        <div class="row">
          <p class="prompt">Belegt ab:</p>
          <p>{{burialPlot.occupiedFrom}}</p>
        </div>
        <div class="row">
          <p class="prompt">Verstorbener:</p>
          <p>{{burialPlot.deceasedName}}</p>
        </div>
        <div class="row">
          <p class="prompt">Geburtsdatum:</p>
          <p>{{burialPlot.dateOfBirth}}</p>
        </div>
        <div class="row">
          <p class="prompt">Sterbedatum:</p>
          <p>{{burialPlot.dateOfDeath}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
