<table>
  <tbody>
  <tr>
    <td>
      <a routerLink="/info/1.01.01.01.01">
        <img src="assets/demo.png" alt="demo">
      </a>
    </td>
    <td>
      <a routerLink="/info/1.01.01.02.01">
        <img src="assets/demo.png" alt="demo">
      </a>
    </td>
    <td>
      <a routerLink="/info/1.01.01.03.01">
        <img src="assets/demo.png" alt="demo">
      </a>
    </td>
    <td>
      <a routerLink="/info/1.01.01.04.01">
        <img src="assets/demo.png" alt="demo">
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="/info/2.0.0.1">
        <img src="assets/demo.png" alt="demo">
      </a>
    </td>
    <td>
      <a routerLink="/info/2.0.1.1">
        <img src="assets/demo.png" alt="demo">
      </a>
    </td>
    <td>
      <a routerLink="/info/2.0.2.1">
        <img src="assets/demo.png" alt="demo">
      </a>
    </td>
    <td>
      <a routerLink="/info/2.0.2.2">
        <img src="assets/demo.png" alt="demo">
      </a>
    </td>
  </tr>
  </tbody>
</table>
